.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5; 
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  flex-grow: 1;            
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;     
}