.contenedor {
  display: flex;
  flex-direction: column;
  border: solid 0.2rem black;
  margin: 2rem;
  padding: 3rem;
  background-color: beige;
}

.contenedorBotones {
  display: flex;
  justify-content: center;
}

.contenedorBotones >div{
    margin: 0 1rem;
}

.contenedorBotones button{
    margin-top: 1rem;
    border: black solid 0.2rem;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 0.5rem;
    font-size: 1rem;
}
