.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSongs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSongs >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem 0;
}

.formSongs div input{
    width: 40rem;
    padding: 0.5rem;
}
.buttonAdd{
    color: white;
    background-color: #4bb04f;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
    width: 8rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
}