.tarjeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  height: 14rem;
}

.colorGris {
  color: #b3b3b9;
}

.agotado {
  color: red;
  font-weight: bold;
}

.enStock {
  color: #079a15;
  font-weight: bold;
}
