.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.navigation {
    display: flex;
    gap: 2rem;
}


.navLink {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navLink:hover {
    color: #0056b3;
}