.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    max-width: 300px; 
    margin: 0 auto; 
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contenedor h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}


.formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario > div {
    margin-bottom: 1rem; 
}

.formulario label {
    display: block; 
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #555;
}

.formulario div input{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.formulario button{
    background-color: #4433fd;
    color: white;
    margin-left: 5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 8rem;
}
