#root {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17rem;
}

main{
  flex: 40;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
}