.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor input{
    width: 40rem;
    padding: 0.7rem;
}

.contenedor ul li{
    margin: 0.3rem 0;
    list-style: none;
    font-size: 1.3rem;
}

.contenedor li a{
    text-decoration: none;
}

.colorItem{
    color: #676bee;
}